{% extends 'base.html' %}


{% block title %} Home Page {% endblock %}

{% block content %}
    <div class="col">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h1 class="text-center">About Us</h1>
            <p class="w-80">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates magni tempora doloribus alias at totam adipisci ipsum, eos aut voluptatum neque provident dignissimos. Necessitatibus cum odit velit nemo suscipit unde.
            Fugiat quia dolores culpa reprehenderit quo sapiente ab maxime magnam cupiditate nam error necessitatibus, cum, praesentium consequuntur? Consequuntur laboriosam natus voluptatum ipsum a. Optio dignissimos corrupti quod ab aperiam nam?
            Tempora, assumenda! At obcaecati reiciendis magnam, temporibus ex ipsum labore ratione nostrum libero possimus alias, inventore deleniti dolorem culpa, ullam molestiae? Suscipit nobis rerum animi voluptatibus qui necessitatibus odit aliquam!</p>
        </div>
    </div>
{% endblock %}