{% extends 'base.html' %}


{% block title %} Product {% endblock %}

{% block content %}
    
<!-- '%B %d, %Y' -->
    <!-- <div class="h-100 p-5 bg-light border rounded-3 "> -->
        <div class="row ">
            <div class="col-3">
                <div class="card bg-light">
                    <img src="{{url_for('static', filename='product_pics/'+my_product.product_image)}}" class="card-img-top" height="200px">
                    <div class="card-body">
                        <h2>
                            <a class="card-title" href="{{url_for('products.product', product_id=my_product.id)}}">{{my_product.product_name}}</a>
                        </h2>
                        <a href="{{url_for('users.user_posts', email=my_product.author.email)}}">Written By: {{my_product.author.name}} {{my_product.author.surname}}</a>
                        <p>Published on: {{my_product.date.strftime('%Y-%m-%d')}}</p>
                        <h3>Price: {{my_product.product_price}}</h3>
                        <a href="{{url_for('products.product', product_id=my_product.id)}}" class="btn btn-primary">Product here</a>
                    </div>
                </div>
                {% if my_product.author == current_user %}
                    <a href="{{url_for('products.update_product', product_id=my_product.id)}}" class="btn btn-outline-primary rounded-3 w-100">Update</a>
                    <a href="{{url_for('products.delete_product', product_id=my_product.id)}}" class="btn btn-outline-danger rounded-3 w-100">Delete</a>
                {% endif %}
            </div>
        </div>
    <!-- </div> -->
        
    
{% endblock %}