{% extends 'base.html' %}


{% block title %} Product {% endblock %}

{% block content %}
    
        
    <div class="col">
        <div class="h-100 p-5 bg-light border rounded-3 text-center">
            <h1>{{my_product.product_name}}</h1>
            <h2>Written by: {{my_product.author.name}} {{my_product.author.surname}}</h2>
            <h3>Info: {{my_product.product_info}}</h3>
            <h2>Price: {{my_product.product_price}}</h2>
            <h2>Published: {{my_product.date.strftime('%B %d, %Y')}}</h2>

            {% if my_product.author == current_user %}
                <div>
                    <a href="{{url_for('products.update_product', product_id=my_product.id)}}" class="btn btn-outline-primary rounded-3 w-25">Update</a>
                    <a href="{{url_for('products.delete_product', product_id=my_product.id)}}" class="btn btn-outline-danger rounded-3 w-25">Delete</a>
                </div>
            {% endif %}
        </div>
    </div>
        
    
{% endblock %}