{% extends 'base.html' %}


{% block title %} {% endblock %}

{% block content %}
    
    <div class="col">
        <div class="h-100 p-5 bg-light border rounded-3 text-center">
            <h1>{{user.name}} {{user.surname}}</h1>
            <img src="{{url_for('static', filename='profile_pics/'+user.profile_image)}}" height="200px">
        </div>
    </div>

    <div class="row">
        {% for post in product_posts %}
            <div class="col-3">
                <div class="card">
                    <img src="{{url_for('static', filename='product_pics/'+post.product_image)}}" class="card-img-top" height="200px">
                    <div class="card-body">
                        <h3>{{post.product_name}}</h3>
                        <p>Published on: {{post.date.strftime('%Y-%m-%d')}}</p>
                        <h4>Price: {{post.product_price}}</h4>
                        <a href="{{url_for('products.product', product_id=post.id)}}" class="btn btn-primary">Product here</a>
                    </div>
                </div>
            </div>
        
        {% endfor %}
    </div>
{% endblock %}